/* Luis C Marzal */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    background-color: rgb(127, 221, 255);
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    height: 60px;
    text-align: center;
    background-color: rgb(143, 143, 143);
    padding: 20px;
}
header h1 {
    margin: 0;
}

nav{
    height: 30px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 10px 20px;
}

table{
    margin: 30px 15%;
    width: 70%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: cornflowerblue;
}

td, th {
    border-bottom: 1px solid black;
}

th {
    background-color: teal;
    color:white;
}